/* BIG TABLET TO 1200px (width smaller than the 1140px row)  */

@media only screen and (max-width:1200px) {
  .section-about,
  .section-choose {
    padding: 150px 50px;
  }

  .section-features {
    margin: 100px 100px;
  }

}



/* SMALL TABLET TO BIG TABLET: FROM 767px TO 1023px  */


@media only screen and (max-width: 1023px) {
  
  .section-about > div > img,
  .section-choose > div > img{
    width: 300px;
  }

  .section-features {
    margin: 100px 20px;
  }
}


/* SMALL PHONES TO SMALL TABLET : FROM 480px TO 767px  */
    
    
@media only screen and (max-width: 767px) {
  header {
    padding: 20px 20px;
  }

  li > a {  
    padding: 0 10px;
  }

  .section-about > h2,
  .section-choose > h2 {
    margin-bottom: -150px;
  }

  .section-about > h2,
  .section-choose > h2,
  .section-features h2 {
    text-align: center;
    width: auto;
  }

  .content-offer > div:first-of-type {
    order: 2;
    margin-top: 30px;

  }
  .section-gallery  {
    margin: 50px 20px;
  }

  .section-about,
  .section-choose,
  .section-features,
  .content-offer {
    flex-direction: column;
  }

  .section-features > div > a {
    margin: auto;
  }

  form {
    width: 700px;
  }

  footer {
    flex-direction: column;
    padding-top: 120px;
    padding-bottom: 80px;
  }

  footer > div {
    margin: auto;
  }
}


/* SMALL PHONES : FROM 375px TO 480px  */
@media only screen and (max-width: 480px) {
  nav > div:first-of-type {
    font-size: 22px;
    
  }

  .hero-text-box {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)), url(resources/hero-image.png);
    background-size: cover;
    margin-right: 0;
    padding: 0;
    height: 250px;
  }

  .hero-text-box > div { 
    color: rgb(0, 0, 0);
    background-color: transparent;
    width: 420px;
    height: auto;
    padding: 10px;
  }

  .hero-text-box > div > h1 {
    font-size: 30px;
    width: 300px;
  }

  .hero-text-box > div > p {
    font-size: 10px;  
  }

  h1 {
    font-size: 75%;
  }

  h2 {
    font-size: 30px;
  }

  .hero-text-box > div > p {
    font-size: 75%;
  }

  .section-about,
  .section-choose {
    padding: 10px;
  }

  .section-about > div,
  .section-choose > div {
    height: 300px;
  }

  .section-about > div > p,
  .section-choose > div > p {
    font-size: 15px;
    padding: 10px;
    height: 300px;
    text-align: justify;
  }

  .section-about > div > img,
  .section-choose > div > img {
    height: 300px;
  }

  .content-offer {
    padding: 10px;
  }

  .content-offer > div:last-of-type {
    flex-direction: row;
    margin: 20px 0;
  }

  .content-offer > div:last-of-type > div {
    float: left;
    margin-left: 40px;
    width: 100px;
  }

  .content-offer > div:last-of-type > div > i {
    font-size: 25px;
    margin: 0;
  }

  .content-offer > div:first-of-type {
    display: none;
  }

  .section-features {
    margin: 40px;
  }

  .section-features > div:first-of-type {
    display: none;
  }
  .section-features > div > a {
    width: 100px;
    height: 45px;
    font-size: 15px;
    padding-top: 10px;
    margin-top: 10px;
  }

  form {
    width: 400px;
  }
}

/* SMALL PHONES : FROM 0 TO 375px  */
@media only screen and (max-width: 376px) {
  .hero-text-box > div > p {
    width: 300px;  
  }
  nav > div:first-of-type {
    width: 200px;
  }

  nav > div:last-of-type {
    background-color:rgb(14, 32, 78) ;
    width: 168px;
    height: 40px;
    text-align: center;
  }

  nav > div:last-of-type a {
    font-size: 80%;
    line-height: 40px;
  }

  .section-about > div > p,
  .section-choose > div > p {
    font-size: 14px;
    padding: 10px;
  }

  .content-offer > div:last-of-type > div {
    float: left;
    margin-left: 10px;
    width: 100px;
  }

  .section-features {
    display: none;
  }

  form {
    width: 300px;
  }

  textarea {
    height: 150px;
    margin-bottom: 20px;
  }

  footer {
    margin: auto;
    flex-direction: column;
    padding-left: 40px;
  }

  h3 {
    text-align: center;
    width: 300px;
  }

  footer > div > div {
    width: 300px;
    margin-right: 30px;
  }

  footer p {
    width: 300px;
    text-align: center;
  }
  
}